<div class="row">
    <div class="col-sm-2" *ngFor="let item of video">
        <div class="card" [routerLink]="['/detail', item.id]">
            <div class="card-header">
                <img [src]="item.poster">
                <div class="card-overlay">{{item.duration}}</div>
            </div>
            <div class="card-body">
                <div class="thumbnail-text">{{item.name}}</div>
                <div class="thumbnail-metadata">date added: {{item.dateAdd}} </div>
                <div class="thumbnail-metadata">like: {{item.likes}}</div>
                <div class="thumbnail-metadata">hitcount: {{item.hitCount}}</div>
            </div>
        </div>
    </div>
</div>