<div class="toolbar">
    <div class="container">
        <div class="logo" routerLink="/">
            <img src="/assets/images/logo/logo.jpg">
        </div>
        <div class="status">
            <div class="status-wrapp status-out" [hidden]="!showlogin">
                <a routerLink="/login">ورود</a> | <a routerLink="/register">ثبت نام</a>
            </div>
            <div class="status-wrapp status-in dropdown" [close]="'open'" [hidden]="showlogin">
                <div class="list">
                    <div class="list-item">
                        <div class="list-avatar">
                            <img *ngIf="avatar" [src]="avatar">
                            <img *ngIf="!avatar" src="/assets/images/users/avatar.jpg">
                        </div>
                    </div>
                </div>
                <div class="dropdown-menu dropdown-menu-fit dropdown-menu-left">
                    <div class="dropdown-menu-header">
                        <div class="list">
                            <div class="list-item">
                                <div class="list-avatar">
                                    <img *ngIf="avatar" [src]="avatar">
                                    <img *ngIf="!avatar" src="/assets/images/users/avatar.jpg">
                                </div>
                                <div class="list-inner">
                                    <div class="list-wrapper">
                                        <div class="list-label">
                                            <span class="text-title">{{fullname}}</span>
                                            <span class="text-subtitle">{{username}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-items">
                        <a routerLink="/mypage" class="dropdown-item">
                            <span class="icon">
                                <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false"
                                    class="style-scope yt-icon"
                                    style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                    <g class="style-scope yt-icon">
                                        <path
                                            d="M3 5v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2H5c-1.11 0-2 .9-2 2zm12 4c0 1.66-1.34 3-3 3s-3-1.34-3-3 1.34-3 3-3 3 1.34 3 3zm-9 8c0-2 4-3.1 6-3.1s6 1.1 6 3.1v1H6v-1z"
                                            class="style-scope yt-icon"></path>
                                        <path d="M0 0h24v24H0z" fill="none" class="style-scope yt-icon"></path>
                                    </g>
                                </svg>
                            </span>
                            <span>صفحه من</span>
                        </a>
                        <a routerLink="/settings" class="dropdown-item">
                            <span class="icon">
                                <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false"
                                    class="style-scope yt-icon"
                                    style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                    <g class="style-scope yt-icon">

                                        <path
                                            d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.1-1.65c.2-.15.25-.42.13-.64l-2-3.46c-.12-.22-.4-.3-.6-.22l-2.5 1c-.52-.4-1.08-.73-1.7-.98l-.37-2.65c-.06-.24-.27-.42-.5-.42h-4c-.27 0-.48.18-.5.42l-.4 2.65c-.6.25-1.17.6-1.7.98l-2.48-1c-.23-.1-.5 0-.6.22l-2 3.46c-.14.22-.08.5.1.64l2.12 1.65c-.04.32-.07.65-.07.98s.02.66.06.98l-2.1 1.65c-.2.15-.25.42-.13.64l2 3.46c.12.22.4.3.6.22l2.5-1c.52.4 1.08.73 1.7.98l.37 2.65c.04.24.25.42.5.42h4c.25 0 .46-.18.5-.42l.37-2.65c.6-.25 1.17-.6 1.7-.98l2.48 1c.23.1.5 0 .6-.22l2-3.46c.13-.22.08-.5-.1-.64l-2.12-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"
                                            class="style-scope yt-icon"></path>
                                    </g>
                                </svg>
                            </span>
                            <span>تنظیمات</span>
                        </a>
                        <a routerLink="/help" class="dropdown-item">
                            <span class="icon">
                                <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false"
                                    class="style-scope yt-icon"
                                    style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                    <g class="style-scope yt-icon">
                                        <path
                                            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z"
                                            class="style-scope yt-icon"></path>
                                    </g>
                                </svg>
                            </span>
                            <span>راهنمایی</span>
                        </a>
                        <a class="dropdown-item">
                            <span class="icon">
                                <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false"
                                    class="style-scope yt-icon"
                                    style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                    <g class="style-scope yt-icon">
                                        <path d="M0 0h24v24H0z" fill="none" class="style-scope yt-icon"></path>
                                        <path
                                            d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-7 12h-2v-2h2v2zm0-4h-2V6h2v4z"
                                            class="style-scope yt-icon"></path>
                                    </g>
                                </svg>
                            </span>
                            <span>ارسال بازخورد</span>
                        </a>
                        <a class="dropdown-item" (click)="logout()">
                            <span class="icon">
                                <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false"
                                    class="style-scope yt-icon"
                                    style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                    <g mirror-in-rtl="" class="style-scope yt-icon">
                                        <path
                                            d="M10.09 15.59L11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59zM19 3H5c-1.11 0-2 .9-2 2v4h2V5h14v14H5v-4H3v4c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"
                                            class="style-scope yt-icon"></path>
                                    </g>
                                </svg>
                            </span>
                            <span>خروج</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- <div class="hamburger">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div> -->
        </div>
        <div class="search">
            <input placeholder="جستجو" type="text" class="controls" (input)="onSearchChange($event.target.value)">
            <ul class="list" *ngIf="searchVideos && searchVideos.length>0">
                <li class="list-item" *ngFor="let searchVideo of searchVideos">
                    <div class="list-thumbnail" [routerLink]="['/detail', searchVideo.id]">
                        <img [src]="searchVideo.poster">
                    </div>
                    <div class="list-inner">
                        <div class="list-wrapper">
                            <div class="list-label">{{searchVideo.name}}</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>